<!DOCTYPE html>
<html>
<head>
    <style>
        body {background-color: {{.color}};}
    </style>
</head>
<body>
<h1>Welcome to colormatic!</h1>
<p>Deployed with the power of Gitlab CI and Teleport.</p>
<p>The current configured color is: <strong>{{.color}}</strong></p>
<p>This page was served by pod: <strong>{{.podName}}</strong></p>
</body>
</html>